.form_holder{
  height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .form_holder {
      /* margin-left: 25%;
      margin-right:25%;
      width: 50%; */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 8% 25%;
      background-color: rgba(255, 255, 255, 0.082);
      box-shadow: 2px 2px 2px 0px grey;
      border-radius: 20px;
    
      justify-self: center;
      
     
   
  }
  
  .form{
      text-align: center;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr;
  }
  input{
    border-bottom:2px grey solid;
    border-top:2px grey solid;
    border-right:2px grey solid;
    height: 35px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    width: 90%;
    outline: none;
    border-left: 0px;
  }
  /* input:hover{
    border: rgba(255, 0, 0, 0.24) 2px solid;
  } */
  
.text div{
  font-size: 20px;
  padding-bottom: 3px;
  color: rgba(255, 255, 255, 0.548);
  text-shadow: grey 1px 1px;
}
  .form button{
    background-image: linear-gradient(
      to bottom,  
     lawngreen, 
     red) ;
    text-align: center;
    width: 60%;
    justify-self: center;
    padding: 10px 0px;
    border-radius: 10px;
    margin: 5px 20%;
    font-size: 18px;
    color: white;
    outline: none;
    box-shadow: 2px 2px 2px 0px grey;
    cursor: pointer;
  }
  

  .next{
    display: flex;
    text-align: center;
  }
  .next a{
    margin-top: 16px;
     margin-left: 1px;
  }

  
.input_ban i{
  margin-top: 0.5px;
  font-size: 30px;
  background-color: white;
  height: fit-content;
padding-bottom: 1.5px;
padding-left: 10px;
  border-top: 2px grey solid;
  border-bottom: 2px grey solid;
  border-left: 2px grey solid;
  background-color: rgb(172, 156, 156);
  padding-right: 10px;
  
  background-image: linear-gradient(
    to bottom,  
    lawngreen, 
   red) ;
 color: white;
}
  
  
  @media screen and (max-width:480px){
    .next{
        display: grid;
  
  grid-template-columns: 1fr;   
   }
   .next a{
     margin-top: 0px;
   }
  }
  
  
  